<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <script
      async
      src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.js"
    ></script>
    <title>Document</title>
    <style>
      #app {
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        overflow: hidden;
        overflow-x: scroll;
      }
      .radio-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .radio-group div {
        margin-top: 20px;
        width: 200px;
      }

      .score-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .score-group div {
        margin-top: 20px;
        width: 200px;
      }
      .control-wrap {
        display: flex;
        justify-content: center;
      }
      .box:hover {
        transition: all 0.3s;
        transform: scale(1.05);
      }
    </style>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#">主页</a></li>
        </ul>
      </div>
    </nav>
    <div style="text-align: center; margin-top: 30px">
      <input
        class="uk-input"
        type="text"
        placeholder="first DNA/RNA"
        style="width: 500px"
      />
      <input
        class="uk-input"
        type="text"
        placeholder="second DNA/RNA"
        style="width: 500px"
      />
      <button class="uk-button uk-button-primary">compile</button>
    </div>
    <div class="control-wrap">
      <div class="radio-group">
        <div>
          <input
            class="uk-radio"
            type="radio"
            id="standard"
            name="drone"
            value="standard"
            checked
          />

          <label for="standard">标准动态规划</label>
        </div>
        <div>
          <input
            class="uk-radio"
            type="radio"
            id="nw"
            name="drone"
            value="nw"
          />
          <label for="nw">Needleman-Wunsch</label>
        </div>
        <div>
          <input
            class="uk-radio"
            type="radio"
            id="sw"
            name="drone"
            value="sw"
          />
          <label for="sw">Smith-Waterman</label>
        </div>
      </div>
      <div class="score-group">
        <div>
          match得分：<input
            class="uk-input"
            type="text"
            value="1"
            style="width: 50px"
          />
        </div>
        <div>
          mismatch得分：<input
            class="uk-input"
            type="text"
            value="-1"
            style="width: 50px"
          />
        </div>
        <div>
          gap得分：<input
            class="uk-input"
            type="text"
            value="1"
            style="width: 50px"
          />
        </div>
        <div>
          extend gap得分：<input
            class="uk-input"
            type="text"
            value="-1"
            style="width: 50px"
          />
        </div>
      </div>
    </div>

    <div id="app"></div>
  </body>
  <script>
    (function () {
      const TARGET_FORM = "FORM";

      function isNumber(param) {
        return typeof param === "number";
      }

      class Node {
        width = 70;
        height = 70;
        // args Bound [row, col]
        constructor(idx, value, target, bound) {
          this.index = idx;
          this.value = value;
          this.bound = bound;
          this.target = target;
        }

        _initFrameAssets(pathPass) {
          const [firIdx, sedIdx] = pathPass;
          if (isNumber(firIdx) && isNumber(sedIdx)) {
            const [isRight, isBottom] = this._isBound(firIdx, sedIdx);
            return {
              value: this.value,
              isTarget: this.target,
              isRight,
              isBottom
            };
          }
        }

        _isBound(rightLine, bottomLine) {
          const [row, col] = this.bound;
          if (rightLine >= row - 1 && bottomLine >= col - 1) {
            return [true, true];
          } else if (rightLine >= row - 1 && bottomLine < col - 1) {
            return [false, true];
          } else if (rightLine < row - 1 && bottomLine >= col - 1) {
            return [true, false];
          } else {
            return [false, false];
          }
        }

        render() {
          const { value, isRight, isBottom, isTarget } = this._initFrameAssets(
            this.index
          );
          return [
            `<div style="border: 1px solid black; border-bottom: ${
              isBottom ? "1px solid black" : "0px"
            };border-right: ${isRight ? "1px solid black" : "0px"};background:${
              isTarget ? "#eeeeee" : "white"
            };width: ${this.width}px;height: ${
              this.height
            }px;text-align:center;line-height:${
              this.height
            }px;font-size:24px">`,
            `${value}`,
            `</div>`
          ].join("");
        }
      }

      const bundle = [
        [
          {
            value: 1,
            isTarget: true
          },
          {
            value: 2,
            isTarget: false
          },
          {
            value: 3,
            isTarget: false
          }
        ],
        [
          {
            value: 3,
            isTarget: true
          },
          {
            value: 4,
            isTarget: true
          },
          {
            value: 5,
            isTarget: true
          }
        ],
        [
          {
            value: 6,
            isTarget: true
          },
          {
            value: 7,
            isTarget: true
          },
          {
            value: 8,
            isTarget: true
          }
        ]
      ];

      class NodeGroup extends Node {
        constructor(sequence, compilation) {
          super();
          this.sequenceString = sequence;
          this.compilation = compilation;
        }

        _parseVendorList(vendorList) {
          const { sequenceString, compilation } = this;

          const [row, col] = sequenceString.map(item => item.split(""));
          console.log(row, col);
          const resultBundle = createScheduleBundle([row, col]);
          console.log(resultBundle);
          return resultBundle;
        }

        render() {
          return this._parseVendorList();
        }
      }

      function createScheduleBundle(sequence) {
        const [rowQuene, colQuene] = sequence;

        const defaultNode = {
          isTarget: false
        };

        if (rowQuene.length === colQuene.length) {
          return colQuene.concat("").map((item, index, selfQuene) => {
            if (index === 0) {
              return [
                {
                  ...defaultNode,
                  value: ""
                },
                ...rowQuene.map((rowItem, rowIndex) => {
                  return {
                    ...defaultNode,
                    value: rowItem
                  };
                })
              ];
            } else {
              return [
                {
                  ...defaultNode,
                  value: selfQuene[index - 1]
                }
              ];
            }
          });
        }
      }

      function concatBundle(hdBundle, bdBundle) {
        return hdBundle.map((item, index) => {
          if (index === 0) {
            return item;
          } else {
            return item.concat(bdBundle[index - 1]);
          }
        });
      }

      const bundleList = new NodeGroup(["gdj", "dvf"]);

      function tapMerge() {
        let validColItemList = [];
        const newMergeList = concatBundle(bundleList.render(), bundle);
        console.log(newMergeList);
        newMergeList.forEach((ctx, index) => {
          const colItem = ctx.map((item, colIndex) => {
            const { value, isTarget } = item;
            const renderItem = new Node([index, colIndex], value, isTarget, [
              newMergeList.length,
              ctx.length
            ]);
            return renderItem.render();
          });
          validColItemList[index] =
            "<div style='display:flex'>" + colItem.join("") + "</div>";
        }, "");
        return "<div>" + validColItemList.join("") + "</div>";
      }
      const renderContent = tapMerge();

      document.getElementById("app").innerHTML = renderContent;

      const resp = axios.post("http://127.0.0.1:8000/runoob", {
        data: {
          name: 1
        }
      });

      console.log(resp);
    })();
  </script>
</html>
