<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <script
      async
      src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.js"
    ></script>
    <title>Document</title>
    <style>
      #app {
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        overflow: hidden;
        overflow-x: scroll;
      }
      .radio-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .radio-group div {
        margin-top: 20px;
        width: 200px;
      }

      .score-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .score-group div {
        margin-top: 20px;
        width: 200px;
      }
      .control-wrap {
        display: flex;
        justify-content: center;
      }
      .box:hover {
        transition: all 0.3s;
        transform: scale(1.05);
      }
      .nw_item {
        margin-bottom: 20px;
      }
      .root {
      }
    </style>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#">主页</a></li>
        </ul>
      </div>
    </nav>
    <div style="text-align: center; margin-top: 30px">
      <input
        id="seq1"
        class="uk-input"
        type="text"
        placeholder="first DNA/RNA"
        style="width: 500px"
      />
      <input
        id="seq2"
        class="uk-input"
        type="text"
        placeholder="second DNA/RNA"
        style="width: 500px"
      />
      <button onclick="compile()" class="uk-button uk-button-primary">
        compile
      </button>
    </div>
    <div class="control-wrap">
      <div class="radio-group">
        <div>
          <input
            class="uk-radio"
            type="radio"
            id="standard"
            name="drone"
            value="standard"
            checked
          />

          <label for="standard">标准动态规划</label>
        </div>
        <div>
          <input
            class="uk-radio"
            type="radio"
            id="nw"
            name="drone"
            value="nw"
          />
          <label for="nw">Needleman-Wunsch</label>
        </div>
        <div>
          <input
            class="uk-radio"
            type="radio"
            id="sw"
            name="drone"
            value="sw"
          />
          <label for="sw">Smith-Waterman</label>
        </div>
      </div>
      <div class="score-group">
        <div style="width: 350px">
          match得分：<input
            class="uk-input"
            type="number"
            style="width: 100px"
            value="5"
            style="width: 50px"
            id="match"
          />
        </div>
        <div style="width: 350px">
          mismatch得分：<input
            class="uk-input"
            type="number"
            style="width: 100px"
            value="-7"
            style="width: 50px"
            id="mismatch"
          />
        </div>
        <div style="width: 350px">
          gap得分：<input
            class="uk-input"
            type="number"
            style="width: 100px"
            value="-5"
            style="width: 50px"
            id="gap"
          />
        </div>
        <div style="width: 350px">
          extend gap得分：<input
            class="uk-input"
            type="number"
            style="width: 100px"
            value="-1"
            style="width: 50px"
            id="extendgap"
          />
        </div>
      </div>
    </div>
    <div id="root"></div>
  </body>
  <script>
    (async function () {
      function isNumber(val) {
        if (typeof val !== "number") {
          return false;
        }
        return true;
      }
      compile = async function () {
        const seq1 = "*" + document.getElementById("seq1").value;
        const seq2 = "*" + document.getElementById("seq2").value;
        const match = document.getElementById("match").value;
        const mismatch = document.getElementById("mismatch").value;
        const gap = document.getElementById("gap").value;
        const extgap = document.getElementById("extendgap").value;

        const score_dic = {
          match: Number(match),
          mismatch: Number(mismatch),
          gap: Number(gap),
          extgap: Number(extgap)
        };

        const resp = await axios.post("http://127.0.0.1:8000/runoob", {
          data: {
            seq1,
            seq2,
            score_dic,
            method: 1
          }
        });
        console.log(resp);
        const div = document.createElement("div");
        for (let i = 0; i < resp.data.ls.length; i = i + 2) {
          const div = document.createElement("div");
          div.innerHTML = `<div class="nw_item"><div style="text-align:center">${
            resp.data.ls[i]
          }</div><div style="text-align:center">${
            resp.data.ls[i + 1]
          }</div></div>`;
          document.getElementById("root").appendChild(div);
        }
      };
    })();
  </script>
</html>
